<div class="table-row">
  <div class="country"><%= subject_counter + 1 %></div>
  <div class="country"><%= subject.name %>
  </div>
  <div class="country"><%= subject.description %></div>
  <div class="country">
    <%= link_to t(".edit"), edit_admin_subject_path(id: subject.id), class: "procedure_hyperlink" %>
    <%= link_to t(".delete"), admin_subject_path(subject), method: :delete, data: {confirm: t(".delete_confirm")} %>
  </div>
</div>
