<% provide(:title, t(".title")) %>
<section class="sample-text-area">
  <div class="container">
    <div class="main_title">
      <h2><%= @course_subject.subject.name %></h2>
      <% if @course_subject.finished? %>
        <h3 class="salmon-heading"><%= t ".subject_is_finished" %></h3>
      <% end %>
    </div>
    <h3 class="text-heading title_color"><%= t".heading" %></h3>
    <p class="sample-text">
      <%= @course_subject.subject.description %>
    </p>
  </div>
  <div class="whole-wrap">
    <div class="container">
      <div class="section-top-border">
        <h3 class="mb-30 title_color"><%= t".task" %></h3>
        <div class="progress-table-wrap">
          <div class="progress-table" id="task_table">
            <div class="table-head">
              <div class="country"><%= t".task_name" %></div>
              <div class="country"><%= t".task_status" %></div>
              <div class="country"><%= t".task_procedure" %></div>
            </div>
            <div id="user-task-list">
              <%= render @user_tasks %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container title_color">
    <br />
    <div class="form-group">
      <a data-toggle="collapse" data-target="#open-task" href="#"><%= t ".available_tasks" %></a>
      <div id="open-task" class="collapse">
        <table class="table table-condensed">
          <div id="open-task-list">
            <%= display_tasks @tasks %>
          </div>
        </table>
      </div>
    </div>
  </div>
</section>
