<% provide(:title, t(".title")) %>

<section class="courses_area p_120"></section>
<div class="container">
  <h3 class="mb-30 title_color"><%= t ".heading" %></h3>
  <%= form_for @trainee, url: trainer_trainee_path(@trainee) do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <div class="form-group">
      <%= f.label :name, t(".name") %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email, t(".email") %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="form-group button_group">
      <%= link_to t(".back_button"), trainer_trainees_path, class: "btn btn-primary" %>
      <%= f.submit t(".submit_button"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
</section>
