<div class="table-row">
  <div class="country"><%= load_task(user_task).name %></div>
  <div class="country">
    <span class="label label-<%=add_class_task_status(user_task)[:class]%>">
      <%= add_class_task_status(user_task)[:content] %>
    </span>
  </div>
  <div class="country" id = "short_description_<%= user_task.id %>"><%= user_task.short_description %></div>
  <div class="country" >
    <button class="btn btn-primary"
      onclick="openReportForm('<%= user_task_path user_task.id %>', '<%= user_task.status %>', '<%= user_task.short_description %>');">
      <%= t".report_button" %>
    </button>
  </div>
</div>
