<% provide(:title, t(".title")) %>
<section class="sample-text-area">
  <div class="container">
    <div class="main_title">
      <h2><%= @subject.name %></h2>
    </div>
    <h3 class="text-heading title_color"><%= t".heading" %></h3>
    <p class="sample-text">
      <%= @subject.description %>
    </p>
  </div>
  <div class="whole-wrap">
    <div class="container">
      <div class="section-top-border">
        <h3 class="mb-30 title_color"><%= t".task" %></h3>
        <div class="progress-table-wrap">
          <div class="progress-table" id="task_table">
            <div class="table-head">
              <div class="country"><%= t".task_name" %></div>
              <div class="country"><%= t".task_status" %></div>
              <div class="country"><%= t".task_short_description" %></div>
              <div class="country"><%= t".task_procedure" %></div>
            </div>
            <%= render partial: "task", collection: @user_tasks, as: :user_task %>
            <%= render partial: "tasks/task_report_form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
