<div class="course-search-form">
  <%= search_form_for @search, class: "form-inline" do |f| %>
    <div class="form-group ">
      <%= f.text_field :name_cont, class: "form-control", placeholder:
      t(".name_search") %>
    </div>
    <div class="form-group form-component">
      <%= f.select :status_eq, Course.statuses, {prompt: t(".status_search")},
      class: "form-control" %>
    </div>
    <%= f.submit t(".search_button"), class: "btn btn-default form-component" %>
    <%= link_to t(".reset_link"), request.path, class:"form-component" %>
  <% end%>
</div>
