<% provide(:title, t(".title")) %>

<section class="courses_area p_120">
  <div class="container">
    <div class="main_title">
      <h2><%= t".heading" %></h2>
    </div>
    <div class="row courses_inner">
      <div class="col-lg-9 course">
        <div class="grid_inner">
          <div class="grid_item wd44">
            <div class="courses_item">
              <%= image_tag("course-2.jpg", size: "360x220", alt: "Rails logo", class: "course_img" ) %>
              <div class="hover_text">
                <a class="cat" href="#">Free</a>
                <a href="#">
                  <h4>Japanease Language Class</h4>
                </a>
                <ul class="list">
                  <li><a href="#"><i class="lnr lnr-users"></i> 355</a></li>
                  <li><a href="#"><i class="lnr lnr-bubble"></i> 35</a></li>
                  <li><a href="#"><i class="lnr lnr-user"></i> T. Robert</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="grid_item wd44">
            <div class="courses_item">
              <%= image_tag("course-2.jpg", size: "360x220", alt: "Rails logo", class: "course_img" ) %>
              <div class="hover_text">
                <a class="cat" href="#">Free</a>
                <a href="#">
                  <h4>Japanease Language Class</h4>
                </a>
                <ul class="list">
                  <li><a href="#"><i class="lnr lnr-users"></i> 355</a></li>
                  <li><a href="#"><i class="lnr lnr-bubble"></i> 35</a></li>
                  <li><a href="#"><i class="lnr lnr-user"></i> T. Robert</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="grid_item wd44">
            <div class="courses_item">
              <%= image_tag("course-4.jpg", size: "360x220", alt: "Rails logo", class: "course_img" ) %>
              <div class="hover_text">
                <a class="cat" href="#">Free</a>
                <a href="#">
                  <h4>Japanease Language Class</h4>
                </a>
                <ul class="list">
                  <li><a href="#"><i class="lnr lnr-users"></i> 355</a></li>
                  <li><a href="#"><i class="lnr lnr-bubble"></i> 35</a></li>
                  <li><a href="#"><i class="lnr lnr-user"></i> T. Robert</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="grid_item wd44">
            <div class="courses_item">
              <%= image_tag("course-4.jpg", size: "360x220", alt: "Rails logo", class: "course_img" ) %>
              <div class="hover_text">
                <a class="cat" href="#">Free</a>
                <a href="#">
                  <h4>Japanease Language Class</h4>
                </a>
                <ul class="list">
                  <li><a href="#"><i class="lnr lnr-users"></i> 355</a></li>
                  <li><a href="#"><i class="lnr lnr-bubble"></i> 35</a></li>
                  <li><a href="#"><i class="lnr lnr-user"></i> T. Robert</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
