<p> <%= t ".greeting", name: @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t ".paragraph_changing" %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t ".paragraph_changed" %> <%= @resource.email %>.</p>
<% end %>
