<p><%= t ".greeting", name: @resource.email %>!</p>

<p><%= t".paragraph_1" %></p>

<p><%= link_to t(".reset_password_url"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t".paragraph_2" %></p>
<p><%= t".paragraph_3" %></p>
