<hr>
<h5><%= t ".heading" %></h5>
<div class="button_group">
  <%= form_for @user_course || UserCourse.new, url: trainer_user_courses_path, remote: true do |f| %>
    <div id="add-trainee-error"></div>
    <%= f.select :user_id, options_for_select(load_data_for_selectbox @course.trainees_not_in_course) %>
    <%= f.hidden_field :course_id, value: @course.id %>
    <%= f.submit t(".add_button"), class: "btn btn-primary" %>
  <% end %>
</div>
