<div class="table-row">
  <div class="country"><%= course.name %></div>
  <div class="country"><%= course.description %></div>
  <div class="country"><%= course.start_date %> to <%= course.end_date %></div>
  <div class="country"><%= course.status %></div>
  <div class="country">
    <%= image_tag "#{course.image}", size: "126x77", alt: "not found", class: "course_img" %>
  </div>
  <div class="country">
    <%= link_to t(".setting"), admin_course_path(course.id), class: "procedure_hyperlink" %>
    <%= link_to t(".edit"), edit_admin_course_path(course.id), class: "procedure_hyperlink" %>
    <%= link_to t(".delete"), admin_course_path(course.id), method: :delete, data: {confirm: t(".delete_confirm")} %>
  </div>
</div>
