<% provide(:title, t(".title")) %>

<section class="courses_area p_120">
  <div class="container title_color">
    <h2 class="mb-30 title_color"><%= t ".heading" %></h2>
    <p>
      <h3><%= t ".name" %> : <%= @course.name %></h3>
    </p>
    <p>
      <h4><%= @course.description %></h4>
    </p>
    <p>
      <h4><%= t ".date", start: l(@course.start_date, format: :long), end: l(@course.end_date, format: :long) %></h4>
    </p>
    <br />
    <div class="form-group">
      <a data-toggle="collapse" data-target="#supervisor" href="#"><%= t ".trainers" %> (<%= @course.course_supervisors.size %>)</a>
      <div id="supervisor" class="collapse">
        <table class="table table-condensed">
          <tbody id="supervisor-list">
            <%= render @course.course_supervisors %>
          </tbody>
        </table>
        <div class="form-group" id="add-supervisor">
          <%= render "admin/course_supervisors/create" unless @course.finished? %>
        </div>
      </div>
    </div>
    <br />
    <div class="form-group button_group">
      <a data-toggle="collapse" data-target="#subjects" href="#"><%= t ".subjects" %> (<%= @course.course_subjects.size %>)</a>
      <div id="subjects" class="collapse">
        <table class="table table-condensed">
          <tbody id="subject-list">
            <%= render @course.course_subjects %>
          </tbody>
        </table>
        <div class="form-group" id="add-subject">
          <%= render "admin/course_subjects/create" unless @course.finished? %>
        </div>
      </div>
    </div>
  </div>
</section>
